<app-login-form></app-login-form>
<hr>
<style>
  no-style.ng-valid{
    border-left:1px solid #ccc
  }
  no-style.ng-invalid{
    border-left:1px solid #ccc
  }
  </style>
  <div class="no-style" style="margin-left":4px;
  <div class="container">
    <h1>login form</h1>
    <form>
      <div class="form-group">
        <label for="name">username</label>
        <input type="text" class="form-control"
        <id="name" required>
          </div>
          <div class="form-group">
            <label for="name">password</label>
            <input type="text" class="form-control" id="name" required>
            <div>
              <div class="form-group">
                <label for="gender">gender</label>
                <select class="form-control" id="gender" required>
                  <option *ngfor="let the gender:"[value]="male" "female"?{{male female}}
                  </option>
                  </select>
                  </div>
                  <button type="submit" class="btn-btn-success"> login</button>
                  </form>
                  </div>
                  